CISC-352-AI-Project-Planning
BY:
Nicole Hernandez- Student ID: 20329562 -  School Email: 21nhm5@queensu.ca
Dylan Letts - Student ID: 20323382 - School Email: 21djl11@queensu.ca


#Getting Started
##1.Installation process: All of the libraries used are downloadable through pip.
##2.Software dependencies: The grid_domain.pddl and planning.pddl are both needed to run 
##3.Latest releases:N/A
##4.API references: matplotlib, numpy, tensorflow, sklearn

#Build and Test
The file should be able to run without any tampering. Just type in the desired parameters, or hit enter for defaults.

#Contribute
Nicole Hernandez and Dylan Letts code the project together. The way we coded was often to 
discuss how we wanted to implement features together- brainstorming logic faster. Then we 
took turns coding on the same computer so we both understood the code and could help each 
other ensure correctness.
